{% extends 'base.html' %}

{% block content %}

<div class="col-md-6 offset-md-1">

{% if user.is_authenticated %}

    <h1> Слушатели курса: </h1>
    <h3>"{{ current_course.course_name }}"</h3> <br/>
        <table class="table table-striped table-hover table-bordered">
          <thead class="table-dark">
            <tr>
              <th scope="col">Фамилия</th>
              <th scope="col">Имя Отчество</th>
              <th scope="col">Имя Фамилия (англ)</th>
              <th scope="col">Компания</th>
              <th scope="col">Должность</th>
              <th scope="col">Договор номер</th>
              <th scope="col">Статус договора</th>
              <th scope="col">Статус счета </th>
              <th scope="col">Эл. почта к/л</th>
              <th scope="col">Комментарии</th>
                {% if part_of_course %}
              <th scope="col">Часть курса</th>
                {% endif %}
            </tr>
          </thead>
          <tbody>
          {% if all_attendees %}
            {% for attendee in all_attendees %}
            <tr>
                <td><a href="{% url 'update_attendee' attendee.id %}">{{ attendee.attendee_last_name_rus }}</a></td>
                <td>{{ attendee.attendee_first_name_rus }} {{ attendee.attendee_fathers_name_rus }}</td>
                <td>{{ attendee.attendee_first_name_eng }} {{ attendee.attendee_last_name_eng }}</td>
                <td>{{ attendee.attendee_company }}</td>
                <td>{{ attendee.attendee_position }}</td>
                <td>{{ attendee.attendee_contract_number }}</td>
                <td>{{ attendee.attendee_contract_status }}</td>
                <td>{{ attendee.attendee_invoice_status }}</td>
                <td>{{ attendee.attendee_contact_email }}</td>
                <td>{{ attendee.attendee_contact_comments }}</td>
                  {% if part_of_course %}
                <td>{{ attendee.attendee_sub_course }}</td>
                  {% endif %}
            </tr>
            {% endfor %}
          {% else %}
          <p>Слушатели пока не занесены в базу</p>
          {% endif %}
          </tbody>
        </table> <br/>
        <a class="btn btn-primary btn-lg" href="{% url 'add_attendee' course_id %}" role="button">Добавить слушателя</a><br/>
    <br/>
        <a class="btn btn-primary btn-lg" href="{% url 'update_course' course_id %}" role="button">Изменить данные курса</a>
        <a class="btn btn-secondary btn-lg" href="{% url 'save_to_pdf' course_id %}" role="button">Сохранить как pdf</a>
</div>

{% else %}

<h2> Вы должны быть авторизованы для просмотра этой страницы! </h2>

{% endif %}

{% endblock %}
