{% extends 'base.html' %}
<div class="col-md-6 offset-md-4">
{% block content %}
<br/>

    <div class="container text-center">
        <div class="card mb-3 mx-auto" style="width: 18rem;">
          <div class="card-header">
              <strong>{{ course_detail.course_name }}</strong>
          </div>
              <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    <strong>Дата:  </strong>{{ course_detail.course_date_begin|date:'d.m.Y' }} - {{ course_detail.course_date_end|date:'d.m.Y' }} </li>
                <li class="list-group-item">
                    <strong>Время:  </strong>{{ course_detail.course_time_begin|date:'G:i'  }} - {{ course_detail.course_time_end|date:'G:i'  }} </li>
                <li class="list-group-item">
                    <strong>Место:  </strong>{{ course_detail.course_location }} </li>
                <li class="list-group-item">
                    <strong>Преподаватель:  </strong>{{ course_detail.course_tutor }} </li>
                <li class="list-group-item">
                    <strong>Стандарт:  </strong>{{ course_detail.course_standard }} </li>
              </ul>
        </div>
        <a class="btn btn-secondary " href="{% url 'all_courses' %}" role="button">Назад</a>

        <a class="btn btn-danger " href="{% url 'delete_course' course_detail.id %}" role="button">Удалить</a>

        <a class="btn btn-secondary " href="{% url 'update_course' course_detail.id %}" role="button">Изменить</a>
        <br/>
        <br/>
        <a class="btn btn-primary btn-lg" href="{% url 'new_course' %}" role="button">Слушатели</a>
    </div>
</div>


{% endblock %}
