{% extends 'base.html' %}

{% block content %}

<div class="card">
  <div class="card-header">
      <strong>{{ course_detail.course_name }}</strong>
  </div>
  <div class="card-body">
    <p class="card-text">
        <strong>Дата:</strong>{{ course_detail.course_date_begin }} - {{ course_detail.course_date_end }} </p>
    <p class="card-text">
        <strong>Время:</strong>{{ course_detail.course_time_begin }} - {{ course_detail.course_time_end }} </p>
    <p class="card-text">
        <strong>Место:</strong>{{ course_detail.course_location }} </p>
    <p class="card-text">
        <strong>Преподаватель:</strong>{{ course_detail.course_tutor }} </p>
    <p class="card-text">
        <strong>Стандарт:</strong>{{ course_detail.course_standard }} </p>
  </div>
</div>




{% endblock %}
