{% extends 'base.html' %}

{% block content %}
<div class="col-md-6 offset-md-3">
    <br/>
    {% if user.is_authenticated %}

    <br/> <br/>
    <div class="container text-center">
      <div class="row align-items-center">
        <div class="col">
            <a class="btn btn-primary btn-lg" href="{% url 'all_courses' %}" role="button">Все курсы</a>
        </div>
        <div class="col">
            <h2> Три ближайших курса: </h2> <br/>
                <div class="list-group">
                      <a href="#" class="list-group-item list-group-item-action" aria-current="true">
                        <div class="d-flex w-100 justify-content-between">
                          <h5 class="mb-1">List group item heading</h5>
                        </div>
                        <p class="mb-1">Some placeholder content in a paragraph.</p>
                        <small> 2 д. до начала курса </small>
                      </a>
                      <a href="#" class="list-group-item list-group-item-action">
                        <div class="d-flex w-100 justify-content-between">
                          <h5 class="mb-1">List group item heading</h5>
                        </div>
                        <p class="mb-1">Some placeholder content in a paragraph.</p>
                        <small class="text-body-secondary"> 3 д. до начала курса </small>
                      </a>
                      <a href="#" class="list-group-item list-group-item-action">
                        <div class="d-flex w-100 justify-content-between">
                          <h5 class="mb-1">List group item heading</h5>
                        </div>
                        <p class="mb-1">Some placeholder content in a paragraph.</p>
                        <small class="text-body-secondary"> 15 д. до начала курса </small>
                      </a>
                    </div>
        </div>
        <div class="col">
            <a class="btn btn-primary btn-lg" href="{% url 'new_course' %}" role="button">Новый курс</a>
        </div>
      </div>
    </div>

    {% else %}
        <h1>Авторизуйтесь для входа:</h1>
        <br/>
        <form method="POST" action="{% url 'home' %}">
            {% csrf_token %}
              <div class="mb-3">
                <input type="text" class="form-control" name="username" placeholder="Имя пользователя" required>
              </div>
                <br/>
              <div class="mb-3">
                <input type="password" class="form-control" name="password" placeholder="Пароль" required>
              </div>
                <br/>
              <button type="submit" class="btn btn-secondary">Войти</button>
        </form>
    {% endif %}
</div>

{% endblock%}
