{% extends 'base.html' %}

{% block content %}
<div class="col-md-6 offset-md-3">
    <br/>
    {% if user.is_authenticated %}

    <div class="container text-center">
      <div class="row align-items-center">
        <div class="col">
            <h2> Ближайшие курсы: </h2> <br/>
            {% if upcoming_courses %}
                {% for course in upcoming_courses %}
                <div class="list-group" style="width:30rem;">
                      <a href="{% url 'course_detail' course.id %}" class="list-group-item list-group-item-action" aria-current="true">
                        <div class="d-flex w-100 justify-content-between">
                          <h5 class="mb-1">{{ course.course_name | truncatechars:30 }}</h5>
                        </div>
                        <p class="mb-1">Начало: {{ course.course_date_begin|date:'d.m.Y' }}</p>
                        <p class="mb-1">Место: {{ course.course_location }}</p>
                        <p class="mb-1">Слушатели: {{ course.number_of_attendees }}</p>
                      </a><br/>
                </div>
                {% endfor %}
            {% endif %}
        </div>
        <div class="col">
          <a class="btn btn-primary btn-lg" href="{% url 'all_courses' %}" role="button">Все курсы</a>
        </div>
        <div class="col">
          <a class="btn btn-primary btn-lg" href="{% url 'attendees' %}" role="button">Все слушатели</a>
        </div>
        <div class="col">
          <a class="btn btn-primary btn-lg" href="{% url 'new_course' %}" role="button">Новый курс</a>
        </div>
      </div>
    </div>

    {% else %}
        <h1>Авторизуйтесь для входа:</h1>
        <br/>
        <form method="POST" action="{% url 'home' %}">
            {% csrf_token %}
              <div class="mb-3">
                <input type="text" class="form-control" name="username" placeholder="Имя пользователя" required>
              </div>
                <br/>
              <div class="mb-3">
                <input type="password" class="form-control" name="password" placeholder="Пароль" required>
              </div>
                <br/>
              <button type="submit" class="btn btn-secondary">Войти</button>
        </form>
    {% endif %}
</div>

{% endblock%}
